html, body {
    min-height: 100vh;
}
body {
    background: linear-gradient(to bottom left,#216e93,#21648a,#1f5881,#172d5b,#191c51);
    background-repeat: no-repeat;
}
.ngx-charts, text { 
    fill: #e0e0e0; 
}
h3, h5 {
    font-weight: normal !important;
}
.chart-item {
    border-radius: 10px;
    background-color: rgba(29,27,65,.6);
    margin: 0 1% 1% 0;
    padding: 10px;
    min-width: 500px;
}
.chart-item div label {
    font-weight: bold;
}
